.reactive {
    color: #fff;
    background-color: #757675;
    }

a:link {
    color: #74bb33;
    }

a:visited {
    color: #74bb33;
    }
a:hover {
    color: #74bb33;
    }
a:active {
    color: #74bb33;
    }

